{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Lobby | ClueLess</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'clueless/css/bootstrap.min.css' %}"  rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'index' %}">Clue-Less</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="{% url 'index' %}"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#rules">Rules</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a class="page-scroll" href="{% url 'lobby' %}">Game Lobby</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="page-scroll" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Section -->
    <section id="intro" class="intro-section" style="margin-top:60px">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Your Games</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Game</th>
                                <th>Host</th>
                                <th>Last Update</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cg in currentGames %}
                            <tr>
                                <th scope="row">{{ cg.id }}</th>
                                <td>Not Yet Determined</td>
                                <td>{{ cg.lastUpdateTime }}</td>
                                <td>{{ cg.get_status_display }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                        <li><a href="{% url 'playgame' %}">Open Game</a></li>
                                        <li><a href="{% url 'startgame' %}">Start Game</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h3>Other Games</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Game</th>
                                <th>Host</th>
                                <th>Last Update</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for og in openGames %}
                            <tr>
                                <th scope="row">{{ og.id }}</th>
                                <td>Not Yet Determined</td>
                                <td>{{ og.lastUpdateTime }}</td>
                                <td>{{ og.get_status_display }}</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Actions
                                        <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                        <li><a href="#">Join Game</a></li>
                                        <li><a href="#">Open Game</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery -->
    <script src="{% static 'clueless/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'clueless/js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'clueless/js/jquery.easing.min.js' %}"></script>

    <!-- App Specific JS -->
    <script src="{% static 'clueless/js/lobby.js' %}"></script>

    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    <script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>

    <script type="text/javascript">


    $(document).ready(function(){

    });
    </script>
  </body>
</html>
