{% load static %}
{% if hasActiveSuggestion %}
<h3>You have an open suggestion, please wait.</h3>

{% elif isPlayerTurn and player.gameResult == 0 %}
<form class="form-playerturn" action="{% url 'playerturn' game.id %}" method="post" id="playerTurnForm" >{%csrf_token%}
	<div class="alert alert-info" role="alert">
		<h3 class="form-playerturn-heading">It is your turn! What is your move?</h3>
	</div>
	 <br>
	  <label for="player_move">Select move:</label>
		<select class="form-control" name="player_move" id="player_move">
			<option value="NOTHING">Choose an action...</option>
			{% if "Move" in availableActions %}
		  	<option value="moveSpace">Move game piece</option>
			{% endif %}
			{% if "Suggestion" in availableActions %}
		  	<option value="makeSuggestion">Make a suggestion</option>
			{% endif %}
			{% if "EndTurn" in availableActions %}
		  	<option value="endTurn">End your turn</option>
			{% endif %}
			{% if "Accusation" in availableActions %}
		  	<option value="makeAccusation">Make an accusation</option>
			{% endif %}
		</select>
	<!--hard coded for now, but TODO: exclude the current space-->
	<br>
	<div id="new_position_div">
		<label for="new_position" id=new_position_label>Move to the:</label>
			<select class="form-control" name="new_position" id="new_position">
			{% for space in validMoves %}
				<option value="{{space.id}}" aria-hidden="true">
					{{space.name}}
				</option>
			{% endfor %}
			</select>
		<br>
	</div>
	<button class="btn btn-lg btn-primary btn-block" id="playerturn">Submit</button>
</form>
<script type="text/javascript">
	$('#player_move').focus()
</script>
{% else %}
<h3>It is not your turn, please wait.</h3>

{% endif %}
<!-- App Specific JS -->
<script src="{% static 'clueless/js/playerturn.js' %}"></script>