{% load static %}
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Character</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody style="font-size:smaller;">
        {% for ap in allPlayers %}
        <tr
                {% if ap.nonUserPlayer %}
                class = "active"
                {% elif ap.gameResult == 1 %}
                class = "success"
                {% elif ap.gameResult == -1 %}
                class = "danger"
                {% elif ap == currentTurn.player %}
                class = "info"
                {% endif%}

        >
            <td><img height="20px" src="{% static 'clueless/images/' %}{{ap.character.characterColor}}.png"/></td>
            {% if ap == player %}
            <td><b>{{ap.character.name}}</b></td>
            <td><b>{{ap.user.username}}</b></td>
            {% else %}
            <td>{{ap.character.name}}</td>
            <td>{{ap.user.username}}</td>
            {% endif%}
        </tr>
        {% endfor %}
    </tbody>
</table>