{% load static %}

{% if isPlayerTurn and player.gameResult == 0 %}
<form class="form-playerturn" action="{% url 'playerturn' game.id %}" method="post" id="playerTurnForm" >{%csrf_token%}
	<h2 class="form-playerturn-heading">It is your turn! what is your move?</h2>
	 <br>
	  <label for="player_move">Select move:</label>
		<select class="form-control" name="player_move" id="player_move">
		  <option value="makeAccusation">Make an Accusation</option>
		  <option value="makeSuggestion">Make a Suggestion</option>
		  <option value="moveSpace">Move to a room</option>
		  <option value="endTurn">End your turn</option>
		</select>
	<br>
	<!--hard coded for now, but TODO: exclude the current space-->
	<br>
	  <label for="new_position" id=new_position_label>Move to the:</label>
		<select class="form-control" name="new_position" id="new_position">
		{% for room in roomObjects %}
			<option value="{{room.id}}" aria-hidden="true">
				{{room.name}}
			</option>
		{% endfor %}
		</select>
	<br>
<button class="btn btn-lg btn-primary btn-block" id="playerturn">Submit</button>
</form>
{% else %}
	<section id="intro" class="intro-section" style="margin-top:60px">
        <div class="container">
            <div class="row">
                    <h2 class="form-waitTurn-heading">It is not your turn. Please wait for your turn.</h2>
            </div>
        </div>
    </section>

{% endif %}
<!-- App Specific JS -->
<script src="{% static 'clueless/js/playerturn.js' %}"></script>