{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Play Game | ClueLess</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'clueless/css/bootstrap.min.css' %}"  rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" onload="init()">

    {% include "clueless/defaultNavbar.html" %}
    <div class="container" style="margin-top:60px">
        <div class="row">
            <div class="col-md-12">
                <canvas id="clueless" width="800" height="800"></canvas>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'clueless/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'clueless/js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'clueless/js/jquery.easing.min.js' %}"></script>

    <!-- App Specific JS -->
    <script src="{% static 'clueless/js/game.js' %}"></script>

    <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script>
    <script src="https://code.createjs.com/preloadjs-0.6.2.min.js"></script>

    <script type="text/javascript">
    //var img;
	//var queue;

    function init() {
        //Load image background
        img = new Image();
        img.onload = loadImage;
        img.src = "{% static 'clueless/images/FullTileGrid.png' %}";
    }

    function loadImage() {
        //Locate canvas and load image
        var canvas = document.getElementById('clueless');

        //Create stage to load image
        stage = new createjs.Stage(canvas);

        var bmp = new createjs.Bitmap(img).set({scaleX: 0.66, scaleY: 0.66});
        stage.addChild(bmp);

        //Add characters
        var scarlet = new createjs.Shape();
        scarlet.graphics.beginFill("Red").drawCircle(0,0,15);
        scarlet.x = 215;
        scarlet.y = 25;
        stage.addChild(scarlet);
        
        var white = new Player('White',560,25);
        stage.addChild(white.createGamePiece());

		/*var green = new createjs.Shape();
        green.graphics.beginFill("Green").drawCircle(0,0,15);
        green.x = 435;
        green.y = 25;
        stage.addChild(green);*/


        //Add weapon
        var revolver = new createjs.Bitmap("{% static 'clueless/images/Revolver.png' %}");
        revolver.x = 100;
        revolver.y = 70;
        stage.addChild(revolver);

        //Add Event Listener To Move Piece
        scarlet.on("pressmove", function(evt){
            evt.target.x = evt.stageX;
            evt.target.y = evt.stageY;

            //console.log(evt.target.x);
            //Redraw the screen to show the change
            stage.update();
        });

        //Process drop and see if allowed
        scarlet.on("pressup", function(evt) {            
            getLocationFromCoordinates(evt.target.x, evt.target.y);
        });

        //Draw frame
        stage.update();
    }


    $(document).ready(function(){

    });
    </script>
  </body>
</html>
